<h2>New zamunda torrent</h2>

<%= render "form.html", changeset: @changeset,
                        action: zamunda_torrent_path(@conn, :create) %>

<%= link "Back", to: zamunda_torrent_path(@conn, :index) %>
