<h2>Listing torrents</h2>

Search for: <input id="searchTerm" type="text" value="<%= if Map.has_key?(@params, "search") do @params["search"] end %>"></input>
Show: <input id="page_size" type="text" value="<%= if Map.has_key?(@params, "page_size") do @params["page_size"] end %>"></input> per page

<div id="torrents">
<%= render "torrents.html", params: @params, torrents: @torrents %>

</div>
