/* This file is for your main application css. */

#torrentsList {
  display: block;
  position: relative;
}

#torrentsList::after {
  content: "";
  background-image: url(../images/bgImage.jpg);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  /*border-bottom:1px solid #444;*/
  cursor: pointer;
  font-weight: bold;
}

.pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: pre-wrap;
  word-wrap: break-word;
}

.coverImage {
  width: 66%;
}

.moreImages {
  float: right;
  width: 33%;
}

.additionalImage {
  width: 100%;
}


table     { display: table }
tr        { display: table-row }
thead     { display: table-header-group }
tbody     { display: table-row-group }
tfoot     { display: table-footer-group }
col       { display: table-column }
colgroup  { display: table-column-group }
td, th    { display: table-cell }
caption   { display: table-caption }

#caption {caption-side: top}
#caption {caption-side: bottom}

.table {
	display: table;
  width:auto;
  border-top: 1px solid #000;
 	border-right: 1px solid #000;
}
.row {display: table-row;}
.cell {
  text-align: center;
	display: table-cell;
	width: auto;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}







.modal .column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  background-color: black;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal .modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* Next & previous buttons */
.modal .prev,
.modal .next {
  cursor: pointer;
  position: absolute;
  top: 5em;
  width: auto;
  height: 60%;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.modal .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.modal .prev:hover,
.modal .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.modal .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.modal img {
  margin-bottom: -4px;
}

.modal .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.modal .lightbox {
  opacity: 0.6;
}

.modal .float {
  float: left;
}

.modal .active,
.modal .lightbox:hover {
  opacity: 1;
}

.modal img.hover-shadow {
  transition: 0.3s
}

.modal .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* The Close Button */
.modal .close {
  width: 5%;
  height: 100%;
  color: white;
  position: relative;
  font-size: 35px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}






.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail span{ /*CSS for enlarged image*/
position: absolute;
background-color: lightyellow;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
width: 240px;
}

.thumbnail:hover span{ /*CSS for enlarged image on hover*/
transition-delay: 1s !important;
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}





