/* This file is for your main application css. */

ul {
  list-style: none;
}

#torrentsList {
  display: block;
  position: relative;
}

#torrentsList::after {
  content: "";
  background-image: url(../images/bgImage.jpg);
  background-size: 100% 100%;
  background-repeat: repeat-y;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.torrentContent {
  display: none;
  height:auto;
  overflow:hidden;
}

.images {
  height:auto;
  overflow:hidden;
}

.description {
  overflow:auto
}

.description .pre {
  display: none;
}

.link {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  /*border is optional*/
  /*border-bottom:1px solid #444;*/
  cursor: pointer;
  font-weight: bold;
}

.pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: pre-wrap;
  word-wrap: break-word;
}

.coverImage {
  width: 35%;
}

.moreImages {
  float: right;
  width: 65%;
  overflow-y: scroll;
}

.additionalImage {
  width: 49%;
}

.videos {
  resize: both;
}

#page_size {
  width:3em;
}

.fixed_size5 {
  width:10%; /* or whatever width you want. */
  max-width:10%; /* or whatever width you want. */
  display: inline-block;
  text-align: left;
}

.fixed_size50 {
  width:50%; /* or whatever width you want. */
  max-width:50%; /* or whatever width you want. */
  display: inline-block;
}

.fixed_size80 {
  width:80%; /* or whatever width you want. */
  max-width:80%; /* or whatever width you want. */
  display: inline-block;
}

.fixed_size20 {
  width:20%; /* or whatever width you want. */
  max-width:20%; /* or whatever width you want. */
  display: inline-block;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

table     { display: table }
tr        { display: table-row }
thead     { display: table-header-group }
tbody     { display: table-row-group }
tfoot     { display: table-footer-group }
col       { display: table-column }
colgroup  { display: table-column-group }
td, th    { display: table-cell }
caption   { display: table-caption }

#caption {caption-side: top}
#caption {caption-side: bottom}

.table {
	display: table;
  width:auto;
  border-top: 1px solid #000;
 	border-right: 1px solid #000;
}
.row {display: table-row;}
.cell {
  text-align: center;
	display: table-cell;
	width: auto;
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}







.modal .column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  background-color: black;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: black;
}

/* Modal Content */
.modal .modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 90%;
}

/* Next & previous buttons */
.modal .prev,
.modal .next {
  cursor: pointer;
  position: absolute;
  top: 5em;
  width: 30%;
  height: 60vh;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.modal .next {
  right: 0;
  text-align: right;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.modal .prev:hover,
.modal .next:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* Number text (1/3 etc) */
.modal .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.modal img {
  height: 70vh;
  margin-bottom: -4px;
}

.modal .caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.modal .lightbox {
  opacity: 0.6;
}

.modal .coverImage {
  width: 15%;
}

.modal .visibleImage {
  width: auto;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.modal .moreImages {
  float: right;
  width: 85%;
}

.modal .additionalImage {
  width: 22%;
  height: auto;
}

.modal .float {
  float: left;
}

.modal .active,
.modal .lightbox:hover {
  opacity: 1;
}

.modal img.hover-shadow {
  transition: 0.3s
}

.modal .hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* The Close Button */
.modal .close {
  width: 5%;
  height: 100%;
  color: white;
  position: relative;
  font-size: 35px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


/*
.img_listing {
  width: 150px;
}


.thumbnail{
position: relative;
z-index: 0;
}

.thumbnail:hover{
background-color: transparent;
z-index: 50;
}

.thumbnail > span{
position: absolute;
padding: 5px;
left: -1000px;
visibility: hidden;
color: black;
text-decoration: none;
}

.thumbnail > span img{
border-width: 0;
padding: 2px;
width: 240px;
}

.thumbnail:hover > span{
transition-delay: 1s !important;
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}
*/


.filtertracker {
  height: 10% !important;
}


.filter-bar {
  position: fixed;
  height: 90vh;
  max-height: 90vh;
  min-height: 90vh;
  width: 15.56%;
  overflow: auto;
}

.filter {
  border-top: 1px solid #000;
  margin-top: 20px;
}

.filter header {
  font-weight: bold;
  color: Blue;
  font-size: 12px;
}

.resizable {
  height: 30%;
  min-height: 50px;
  resize: vertical;
  overflow: auto;
}

.treeview {
  margin: 10px 0 0 10px;
  padding-left: 0px;
}

.treeview ul {
  list-style: none;
}

.treeview li {
  padding: 2px 0 2px 2px;
}

.treeview > li:first-child > label {
  /* style for the root element - IE8 supports :first-child
  but not :last-child ..... */

}

.treeview li.last {
  background-position: 0 -1766px;
}

.treeview li > input {
  height: 16px;
  width: 16px;
  /* hide the inputs but keep them in the layout with events (use opacity) */
  opacity: 0;
  filter: alpha(opacity=0); /* internet explorer */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
}

.treeview li > label {
  background: url(http://www.thecssninja.com/demo/css_custom-forms/gr_custom-inputs.png) 0 -1px no-repeat;
  /* move left to cover the original checkbox area */
  margin-left: -20px;
  /* pad the text to make room for image */
  padding-left: 20px;
}

/* Unchecked styles */

.treeview .custom-unchecked {
  background-position: 0 -1px;
}
.treeview .custom-unchecked:hover {
  background-position: 0 -21px;
}

/* Checked styles */

.treeview .custom-checked {
  background-position: 0 -81px;
}
.treeview .custom-checked:hover {
  background-position: 0 -101px;
}

/* Indeterminate styles */

.treeview .custom-indeterminate {
  background-position: 0 -141px;
}
.treeview .custom-indeterminate:hover {
  background-position: 0 -121px;
}





